*.doc
*.docx
*.ini
*.jl.*.cov
*.jl.cov
*.jl.mem
*.ods
*.odt
*.pdf
*.swp
*.xlsx
.~lock*
/docs/build/
/docs/reference/
/book/build/
docs/'Benefit and pension rates 2021 to 2022 - GOV.UK_files'/*
Manifest.toml
model*.tab
tmp/
output/
data/merging/*.tab
data/merging/*.csv
\#.*\#
docs/.sass-cache/*
.DS_Store
scotmat.csv
.Rproj.user

LocalPreferences.toml
